<h2>Right</h2>
<form name="blockForm" ng-show="selectBlock.id > 0">
    <fieldset>
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" class="form-control" ng-model="selectBlock.props.image" id="image" placeholder="Select file" />
        </div>
        <div class="form-group">
            <label for="text">Text:</label>
            <textarea class="form-control" rows="5" id="text" ng-model="selectBlock.params.text" placeholder="Введите текст"></textarea>
        </div>
        <div class="form-group">
            <button type="button" ng-click="cancel()" class="btn btn-default">Отмена</button>
        </div>
    </fieldset>
</form>